<div class="row">
  <%- if @content_types[:custom].length > 0 -%>
    <div class="col-sm-6">
      <h6>Custom Modules</h6>
      <%- @content_types[:custom].each do |type| -%>
        <%= link_to h(type.display_name), new_engine_aware_path(type,
          "#{type.param_key}[connect_to_page_id]" => params[:connect_to_page_id],
          "#{type.param_key}[connect_to_container]" => params[:connect_to_container]
        ), :target=> "_top", class: "btn btn-default btn-sm btn-block" %>
      <%- end -%>
    </div>
  <%- end -%>
  <div class="col-sm-6">
    <h6>CMS Modules</h6>
    <%- @content_types[:cms].each do |type| -%>
      <%= link_to h(type.display_name), new_engine_aware_path(type,
        "#{type.param_key}[connect_to_page_id]" => params[:connect_to_page_id],
        "#{type.param_key}[connect_to_container]" => params[:connect_to_container]
      ), :target=> "_top", class: "btn btn-default btn-sm btn-block" %>
    <%- end -%>
  </div>
</div>