<% subclasses = Cms::ContentType.grouped_by_cms_and_custom %>
<ul class="dropdown-menu multi-level" id="<%= id %>" role="menu">
  <%- if subclasses[:custom].length > 0 -%>
    <li class="dropdown-submenu <%= position %>">
      <a tabindex="-1" href="#">Custom Modules</a>
      <ul class="dropdown-menu">
        <%- subclasses[:custom].each do |type| -%>
          <%= nav_link_to h(type.display_name), engine_aware_path(type) %>
        <%- end -%>
      </ul>
    </li>
    <li class="divider">&amp;nbsp;</li>
  <%- end -%>
  <%- subclasses[:cms].each do |type| -%>
    <%= nav_link_to h(type.display_name), engine_aware_path(type) %>
  <%- end -%>
</ul>